:root {
  --neutral-950: hsl(0, 0%, 0%);
  --neutral-300: hsl(0, 0%, 87%);
  --neutral-200: hsl(0, 0%, 94%);
  --neutral-100: hsl(0, 0%, 96%);
  --neutral-0: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-Regular_1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: 0;
  margin-inline: auto;
  padding: 0;
  font-family: "DM Sans";
  background-color: var(--neutral-0);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: 0 none transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 70.625rem;
  margin-inline: auto;
  padding-inline: 0.625rem;
}
.btn {
  width: 9.8125rem;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background: var(--neutral-950);
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--neutral-0);
  transition:
    background-color 450ms ease-in-out,
    color 450ms ease-in-out;
  &:hover {
    color: var(--neutral-950);
    background-color: var(--neutral-300);
  }
}
.header {
  display: flex;
  align-items: center;
  padding-block: 1.75rem;
  .header__logo {
    flex-grow: 1;
  }
  .menu__button {
    display: none;
  }
  .header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    nav {
      ul {
        display: flex;
        align-items: center;
        column-gap: 2.5rem;
        li {
          a {
            font-weight: 700;
            font-size: 0.75rem;
            line-height: 135%;
            letter-spacing: 2px;
            color: var(--neutral-950);
            text-transform: uppercase;
            transition:
              opacity 450ms ease-in-out,
              text-shadow 450ms ease-in-out;
            &:hover {
              mix-blend-mode: normal;
              opacity: 0.3;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
  }
  #overlay {
    background: var(--neutral-950);
    mix-blend-mode: normal;
    opacity: 0.5;
    position: fixed;
    inset: 0;
    display: none;
  }
}
.main {
  .main__hero {
    .create__hero {
      min-height: 40.625rem;
      display: flex;
      align-items: center;
      .create__hero-content {
        max-width: 38.125rem;
        background: var(--neutral-950);
        color: var(--neutral-0);
        padding: 10.8125rem 7rem;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 0.375rem;
          height: 19rem;
          background: linear-gradient(
            52.98deg,
            #ffc593 0%,
            #bc7198 49.95%,
            #5a77ff 99.9%
          );
          top: 25%;
          left: 0;
        }
        h2 {
          font-weight: 700;
          font-size: 2.5rem;
          line-height: 48px;
          letter-spacing: 4.16667px;
          text-transform: uppercase;
          margin-block-end: 1.25rem;
        }
        p {
          font-weight: 400;
          font-size: 0.9375rem;
          line-height: 165%;
          mix-blend-mode: normal;
          opacity: 0.6;
          margin-block-end: 48px;
        }
        a {
          font-weight: 700;
          font-size: 0.75rem;
          line-height: 135%;
          text-align: right;
          letter-spacing: 2px;
          color: var(--neutral-0);
          text-transform: uppercase;
          position: relative;
          transition: text-decoration 450ms ease-in-out;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow.svg");
            width: 2.6875rem;
            height: 0.875rem;
            top: 0.0625rem;
            left: 7.875rem;
          }
        }
      }
      .home__picture {
        .hero__img {
          width: 51.875rem;
          height: 40.625rem;
          object-fit: cover;
        }
      }
    }
    .stories__hero {
      height: 37.5rem;
      display: flex;
      align-items: center;
      .home__picture {
        .hero__img {
          width: 51.875rem;
          height: 37.5rem;
          object-fit: cover;
        }
      }
      .create__stories-content {
        max-width: 38.125rem;
        color: var(--neutral-950);
        padding: 8.5rem 6.9688rem;
        h2 {
          width: 347px;
          font-weight: 700;
          font-size: 2.5rem;
          line-height: 48px;
          letter-spacing: 4.16667px;
          text-transform: uppercase;
          margin-block-end: 1.25rem;
        }
        p {
          font-weight: 400;
          font-size: 0.9375rem;
          line-height: 165%;
          mix-blend-mode: normal;
          opacity: 0.6;
          margin-block-end: 3rem;
        }
        a {
          font-weight: 700;
          font-size: 0.75rem;
          line-height: 135%;
          text-align: right;
          letter-spacing: 2px;
          color: #000000;
          text-transform: uppercase;
          position: relative;
          transition: text-decoration 450ms ease-in-out;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow_b.svg");
            width: 2.6875rem;
            height: 0.875rem;
            top: 0.0625rem;
            left: 9.375rem;
          }
        }
      }
    }
    .designed__hero {
      display: flex;
      align-items: center;
      height: 37.5rem;
      .create__designed-content {
        max-width: 38.125rem;
        color: var(--neutral-950);
        padding: 10rem 6.9688rem;
        h2 {
          font-weight: 700;
          font-size: 2.5rem;
          line-height: 48px;
          letter-spacing: 4.16667px;
          text-transform: uppercase;
          margin-block-end: 1.25rem;
        }
        p {
          font-weight: 400;
          font-size: 0.9375rem;
          line-height: 165%;
          mix-blend-mode: normal;
          opacity: 0.6;
          margin-block-end: 3rem;
        }
        a {
          font-weight: 700;
          font-size: 0.75rem;
          line-height: 135%;
          text-align: right;
          letter-spacing: 2px;
          color: #000000;
          text-transform: uppercase;
          position: relative;
          transition: text-decoration 450ms ease-in-out;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow_b.svg");
            width: 2.6875rem;
            height: 0.875rem;
            top: 0.0625rem;
            left: 9.375rem;
          }
        }
      }
      .home__picture {
        height: 37.5rem;
        .hero__img {
          width: 51.875rem;
          height: 37.5rem;
          object-fit: cover;
        }
      }
    }
  }
  .collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-block-end: 7.5rem;
    .collections__links {
      /* Make the link a block so it has a height and width */
      display: block;
      /* Now absolute inside is oriented to this reference */
      position: relative;
      color: var(--neutral-0);
      picture {
        /* Remove extra gaps from the bottom of the image */
        display: block;
        position: relative;
        transition: transform 450ms ease-in-out;
        &:hover {
          transform: translateY(-24px);
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 0.375rem;
            background: linear-gradient(
              52.98deg,
              #ffc593 0%,
              #bc7198 49.95%,
              #5a77ff 99.9%
            );
            bottom: 0;
            left: 0;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          /* White color with 75% transparency */
          background-color: rgba(0, 0, 0, 0.4);
          /* Initially hidden */
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }
      .collections__content {
        position: absolute;
        bottom: 2.5rem;
        left: 2.5rem;
        z-index: 2;
        h4 {
          font-weight: 700;
          font-size: 1.125rem;
          line-height: 140%;
          margin-block-end: 4px;
        }
        p {
          width: 17.5rem;
          font-weight: 400;
          font-size: 0.8125rem;
          line-height: 130%;
          padding-block-end: 1rem;
          border-bottom: 1px solid rgb(255, 255, 255, 0.8);
        }
        span {
          display: block;
          font-weight: 700;
          font-size: 0.75rem;
          line-height: 135%;
          letter-spacing: 2px;
          color: #ffffff;
          text-transform: uppercase;
          position: relative;
          padding-block-start: 1.25rem;
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow.svg");
            width: 2.6875rem;
            height: 0.875rem;
            top: 1.25rem;
            left: 14.6875rem;
          }
        }
      }
    }
  }
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    column-gap: 30px;
    color: var(--neutral-950);
    margin-block-end: 7.5rem;
    .services__block {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        margin-block-end: 3rem;
      }
      h4 {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 140%;
        text-align: center;
        margin-block-end: 1rem;
      }
      p {
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 165%;
        text-align: center;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }
  }
  .stories__hero {
    position: relative;
    /* Height according to the layout */
    height: 650px;
    .stories__picture {
      .stories__img {
        width: 100%;
        height: auto;
        display: block;
        /* Helps avoid distortion of proportions */
        object-fit: cover;
      }
    }
    .stories__hero-content {
      position: absolute;
      /* according to the layout */
      top: 7.625rem;
      bottom: 7.625rem;
      left: 7rem;
      z-index: 2;
      max-width: 25.3125rem;
      color: var(--neutral-0);
      .hero__text {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 135%;
        letter-spacing: 2px;
        margin-block-end: 24px;
      }
      h2 {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        margin-block-end: 64px;
      }
      .hero__author {
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        margin-block-end: 1.5rem;
        .data {
          display: block;
          font-weight: 400;
          font-size: 0.8125rem;
          line-height: 130%;
          mix-blend-mode: normal;
          opacity: 0.75;
        }
        .author {
          display: block;
          font-weight: 400;
          font-size: 0.8125rem;
          line-height: 130%;
        }
      }
      .hero__desc {
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 165%;
        mix-blend-mode: normal;
        opacity: 0.6;
        margin-block-end: 24px;
      }
      a {
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 135%;
        text-align: right;
        letter-spacing: 2px;
        color: var(--neutral-0);
        text-transform: uppercase;
        position: relative;
        transition: text-decoration 450ms ease-in-out;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
        &::after {
          position: absolute;
          content: "";
          background-image: url("../assets/shared/desktop/arrow.svg");
          width: 2.6875rem;
          height: 0.875rem;
          top: 0.0625rem;
          left: 8.25rem;
        }
      }
    }
  }
  .stories__collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    .collections__links {
      /* Make the link a block so it has a height and width */
      display: block;
      /* Now absolute inside is oriented to this reference */
      position: relative;
      color: var(--neutral-0);
      picture {
        /* Remove extra gaps from the bottom of the image */
        display: block;
        position: relative;
        transition: transform 450ms ease-in-out;
        &:hover {
          transform: translateY(-1.5rem);
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 0.375rem;
            background: linear-gradient(
              52.98deg,
              #ffc593 0%,
              #bc7198 49.95%,
              #5a77ff 99.9%
            );
            bottom: 0;
            left: 0;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: linear-gradient(180deg, #000000 0%, #000000ab 100%);
          /* Initially hidden */
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        .collections__img {
          width: 100%;
          height: auto;
          display: block;
          /* Helps avoid distortion of proportions */
          object-fit: cover;
        }
      }
      .collections__content {
        position: absolute;
        bottom: 2.5rem;
        left: 2.5rem;
        z-index: 2;
        color: var(--neutral-0);
        .name {
          font-weight: 400;
          font-size: 0.8125rem;
          line-height: 130%;
          margin-block-end: 4px;
        }
        h4 {
          font-weight: 700;
          font-size: 1.125rem;
          line-height: 140%;
          margin-block-end: 4px;
        }
        .name {
          width: 17.5rem;
          font-weight: 400;
          font-size: 0.8125rem;
          line-height: 130%;
          padding-block-end: 16px;
          border-bottom: 1px solid rgb(255, 255, 255, 0.8);
        }
        span {
          display: block;
          font-weight: 700;
          font-size: 0.75rem;
          line-height: 135%;
          letter-spacing: 2px;
          color: #ffffff;
          text-transform: uppercase;
          position: relative;
          padding-block-start: 20px;
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow.svg");
            width: 2.6875rem;
            height: 0.875rem;
            top: 1.25rem;
            left: 14.6875rem;
          }
        }
      }
    }
  }
  .features__hero {
    min-height: 30.625rem;
    display: flex;
    align-items: center;
    margin-block-end: 10rem;
    .features__hero-content {
      max-width: 38.125rem;
      background: var(--neutral-950);
      padding: 10.8125rem 7rem;
      color: var(--neutral-0);
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 0.375rem;
        height: 9rem;
        background: linear-gradient(
          52.98deg,
          #ffc593 0%,
          #bc7198 49.95%,
          #5a77ff 99.9%
        );
        top: 10.8125rem;
        left: 0;
      }
      h2 {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        margin-block-end: 20px;
      }
      p {
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 165%;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }
    .home__picture {
      .hero__img {
        display: block;
        width: 51.875rem;
        height: 30.625rem;
        object-fit: cover;
      }
    }
  }
  .features__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    gap: 6.5rem 1.875rem;
    margin-block-end: 160px;
    .services__block {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        margin-block-end: 3rem;
      }
      h4 {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 140%;
        text-align: center;
        margin-block-end: 1rem;
      }
      p {
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 165%;
        text-align: center;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }
  }
  .pricing__hero {
    min-height: 30.625rem;
    display: flex;
    align-items: center;
    margin-block-end: 7.5rem;
    .pricing__hero-content {
      max-width: 38.125rem;
      background: var(--neutral-950);
      padding: 10.8125rem 7rem;
      color: var(--neutral-0);
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 0.375rem;
        height: 9rem;
        background: linear-gradient(
          52.98deg,
          #ffc593 0%,
          #bc7198 49.95%,
          #5a77ff 99.9%
        );
        top: 10.8125rem;
        left: 0;
      }
      h2 {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        margin-block-end: 1.25rem;
      }
      p {
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 165%;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }
    .home__picture {
      .hero__img {
        display: block;
        width: 51.875rem;
        height: 30.625rem;
        object-fit: cover;
      }
    }
  }
  .pricing__block {
    margin-block-end: 10rem;

    /* --- SWITCH SECTION --- */
    .pricing__toggle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-block-end: 3rem;

      .monthly {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 140%;
        text-align: center;
        color: var(--neutral-950);
        mix-blend-mode: normal;
        opacity: 1;
        transition: opacity 0.3s ease;
      }

      .toggle__button {
        width: 4rem;
        height: 2rem;
        padding: 0.1875rem;
        background-color: var(--neutral-300);
        border-radius: 999px;
        border-color: var(--neutral-300);
        cursor: pointer;
        transition:
          background-color 0.3s ease,
          border-color 0.3s ease;

        .animated__toggle {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          background-color: var(--neutral-950);
          transform: translateX(0);
          transition:
            transform 0.3s ease,
            background-color 0.3s ease;
        }
      }

      .yearly {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 140%;
        text-align: center;
        color: var(--neutral-950);
        mix-blend-mode: normal;
        opacity: 0.5;
        transition: opacity 0.3s ease;
      }
    }

    /* --- TARIFF PLANS SECTION --- */
    .tariff__block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      column-gap: 1.875rem;

      .tariff__plan {
        &.basic,
        &.business {
          max-width: 21.875rem;
          min-height: 25.4375rem;
          background: var(--neutral-100);
          color: var(--neutral-950);
          padding: 2.9375rem 2.5rem;
        }

        &.pro {
          color: var(--neutral-0);
          background: var(--neutral-950);
          padding: 4.9063rem 2.5rem;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            /* 100% corrected to fit within the scope */
            width: 100%;
            height: 0.375rem;
            background: linear-gradient(
              53deg,
              #ffc593 0%,
              #bc7198 50%,
              #5a77ff 100%
            );
            /* Presses to the top edge */
            inset: 0 0 auto 0;
          }

          /* Button inside the PRO plan */
          .btn__price {
            background: var(--neutral-0);
            color: var(--neutral-950);

            &:hover {
              background: var(--neutral-300);
              color: var(--neutral-950);
            }
          }
        }

        .tariff__plan-wrap {
          .tariff__plan-conditions {
            h3 {
              font-size: 1.5rem;
              line-height: 105%;
              text-align: center;
              margin-block-end: 1.25rem;
            }
            p {
              font-size: 0.9375rem;
              line-height: 165%;
              text-align: center;
              mix-blend-mode: normal;
              opacity: 0.6;
              margin-block-end: 2.5rem;
            }
          }

          .tariff__plan-price {
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 48px;
            text-align: center;
            letter-spacing: 4.16667px;
            text-transform: uppercase;
            margin-block-end: 2.5rem;

            span {
              display: block;
              text-transform: lowercase;
              font-weight: 400;
              font-size: 0.9375rem;
              line-height: 165%;
              text-align: center;
              mix-blend-mode: normal;
              opacity: 0.6;
            }

            &.month {
              display: block;
            }
            &.year {
              display: none;
            }
          }
        }

        /* General styles for buttons */
        .btn__price {
          width: 16.875rem;
          height: 2.5rem;
          margin: 0 auto;
          background: var(--neutral-950);
          color: var(--neutral-0);
          border: none;
          cursor: pointer;
          transition:
            background 450ms ease-in-out,
            color 450ms ease-in-out;

          &:hover {
            background: var(--neutral-300);
            color: var(--neutral-950);
          }
        }
      }
    }

    /* --- ACTIVE SWITCH STATE (YEARLY) --- */
    &.toggle-price {
      .pricing__toggle {
        .toggle__button {
          background-color: var(--neutral-950);
          border-color: var(--neutral-950);

          .animated__toggle {
            background-color: var(--neutral-0);
            transform: translateX(32px);
          }
        }
        .monthly {
          opacity: 0.5;
        }
        .yearly {
          opacity: 1;
        }
      }

      .tariff__block .tariff__plan .tariff__plan-wrap {
        .tariff__plan-price.month {
          display: none;
        }
        .tariff__plan-price.year {
          display: block;
        }
      }
    }
  }
  .pricing__compare {
    color: #000000;
    text-transform: uppercase;
    margin-block-end: 6.625rem;
    h2 {
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 48px;
      text-align: center;
      letter-spacing: 4.16667px;
      margin-block-end: 3.5rem;
    }
    .table__container {
      width: 100%;
      overflow-x: auto;

      .compare__table {
        width: 100%;
        border-collapse: collapse;
        max-width: 46.9375rem;
        margin: 0 auto;
        padding-inline: 0.625rem;
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 135%;
        letter-spacing: 2px;

        thead {
          border-bottom: 1px solid var(--neutral-950);

          th {
            width: 8.75rem;
            padding-block-end: 1.4375rem;
          }
        }

        tbody {
          td {
            padding-block: 1.4375rem;
            vertical-align: middle;
            border-bottom: 1px solid var(--neutral-300);
          }

          td:first-child {
            width: 14.4375rem;
          }

          /* New class for centering content inside cells */
          .table__cell-center {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
          }
        }

        .visually-hidden {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
      }
    }
  }
  .beta__invite {
    display: grid;
    grid-template-areas: "beta";
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 0.375rem;
      height: 17.5rem;
      background: linear-gradient(
        52.98deg,
        #ffc593 0%,
        #bc7198 49.95%,
        #5a77ff 99.9%
      );
      top: 0;
      left: 0;
    }
    .invite__picture {
      grid-area: beta;
    }
    .invite__content {
      grid-area: beta;
      padding: 4.25rem 10.3125rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        max-width: 400px;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        color: #ffffff;
      }
      a {
        display: block;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 135%;
        text-align: right;
        letter-spacing: 2px;
        color: var(--neutral-0);
        /* SOLUTION: Create a blank space on the right side for the arrow */
        /* 43px (arrow width) + 17px (text indent) */
        padding-right: 3.75rem;
        text-transform: uppercase;
        position: relative;
        transition: text-decoration 450ms ease-in-out;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
        &::after {
          position: absolute;
          content: "";
          background-image: url("../assets/shared/desktop/arrow.svg");
          width: 2.6875rem;
          height: 0.875rem;
          /* SOLUTION: Press strictly to the right edge of the link */
          right: 0;
          top: 50%;
         /* Perfectly center the arrow vertically */
          transform: translateY(-50%);
        }
      }
    }
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.8438rem 10.3125rem;
  background: var(--neutral-950);
  .footer__left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 110px;
    .footer__logo {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      svg path.logo-text {
        fill: var(--neutral-0);
      }
    }
    nav {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        li {
          a {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.75rem;
            line-height: 135%;
            letter-spacing: 2px;
            color: var(--neutral-0);
            transition: opacity 400ms ease-in-out;
            &:hover {
              mix-blend-mode: normal;
              opacity: 0.3;
            }
          }
        }
      }
    }
    .footer__social {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      align-self: self-end;
      ul {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;
        li {
          a {
            .social-icon path {
              fill: var(--neutral-0);
              transition: fill 250ms ease-in-out;
            }
            .icon-facebook:hover path {
              fill: url(#fbook-grad);
            }
            .icon-youtube:hover path {
              fill: url(#ytube-grad);
            }
            .icon-twitter:hover path {
              fill: url(#twit-grad);
            }
            .icon-print:hover path {
              fill: url(#print-grad);
            }
            .icon-insta:hover path {
              fill: url(#insta-grad);
            }
          }
        }
      }
    }
  }
  .footer__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5.375rem;
    a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem;
      line-height: 135%;
      letter-spacing: 2px;
      color: #ffffff;
      position: relative;
      transition: text-decoration 450ms ease-in-out;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
      &::after {
        position: absolute;
        content: "";
        background-image: url("../assets/shared/desktop/arrow.svg");
        width: 2.625rem;
        height: 0.75rem;
        top: 0.0625rem;
        left: 7.875rem;
      }
    }
    p {
      font-weight: 400;
      font-size: 0.9375rem;
      line-height: 165%;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}

@media (width <= 768px) {
  .container {
    max-width: 44.375rem;
  }
  .main {
    .main__hero {
      .create__hero {
        .create__hero-content {
          padding-inline: 3.375rem;
          h2 {
            font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
          }
        }
        .home__picture {
          .hero__img {
            width: 17.0625rem;
          }
        }
      }
      .stories__hero {
        .home__picture {
          .hero__img {
            width: 17.0625rem;
          }
        }
        .create__stories-content {
          padding-inline: 3.375rem;
          h2 {
            font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
          }
        }
      }
      .designed__hero {
        .create__designed-content {
          padding-inline: 3.375rem;
          h2 {
            font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
          }
        }
        .home__picture {
          .hero__img {
            width: 17.0625rem;
          }
        }
      }
    }
    .collections {
      grid-template-columns: repeat(2, 1fr);
    }
    .services {
      grid-template-columns: repeat(1, 450px);
      grid-template-rows: repeat(3, 1fr);
      gap: 5rem 0;
    }
    .stories__hero {
      .stories__hero-content {
        left: 40px;
        h2 {
          font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
        }
      }
    }
    .stories__collections {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
    .features__hero {
      margin-block-end: 6.6563rem;
      .features__hero-content {
        padding-inline: 54px;
        h2 {
          font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
        }
        &::before {
          top: 9.625rem;
        }
      }
      .home__picture {
        .hero__img {
          width: 17.0625rem;
        }
      }
    }
    .features__services {
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem 0.75rem;
      margin-block-end: 6.7813rem;
    }
    .pricing__hero {
      margin-block-end: 7rem;
      .pricing__hero-content {
        max-width: 30.9375rem;
        padding-inline: 3.375rem;
        h2 {
          font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
        }
        &::before {
          top: 11.125rem;
        }
      }
      .home__picture {
        .hero__img {
          width: 17.0625rem;
        }
      }
    }
    .pricing__block {
      margin-block-end: 7rem;
      .pricing__toggle {
        margin-block-end: 2.5rem;
      }
      .tariff__block {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px 0;
        .tariff__plan {
          &.basic,
          &.business {
            max-width: 43.0625rem;
            min-height: 16.875rem;
            padding: 2.75rem 2.5rem;
          }
          &.pro {
            max-width: 43.0625rem;
            min-height: 16.875rem;
            padding: 2.75rem 2.5rem;
            &::before {
              width: 0.375rem;
              height: 100%;
            }
          }
          .tariff__plan-wrap {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .tariff__plan-conditions {
              width: 16.875rem;
              h3 {
                text-align: left;
              }
              p {
                text-align: left;
              }
            }
          }
          .btn__price {
            margin: 0;
          }
        }
      }
    }
    .beta__invite {
      .invite__picture {
        .beta__img {
          height: 17.5rem;
        }
      }
      .invite__content {
        padding-inline: 2.375rem 2.5875rem;
        h2 {
          font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
        }
      }
    }
  }
  .footer {
    padding: 4rem 2.4688rem;
    .footer__left {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      .footer__logo {
        margin-block-end: 2rem;
      }
      nav {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin-block-end: 4.5rem;
        ul {
          flex-direction: row;
          gap: 0 1.5625rem;
        }
      }
    }
  }
}

@media (width <= 450px) {
  .container {
    max-width: 21.875rem;
  }
  .header {
    .open__button {
      display: block;
    }
    .header__block {
      /* Now it's exactly 100% of the screen width */
      width: 100%;
      height: 15.8125rem;
      background: var(--neutral-0);
      /* Fixed relative to the screen, ignoring relative to the header */
      position: fixed;
      /* Height of your header so that the menu opens exactly below it */
      top: 60px;
      left: 0;
      /* To keep the menu on top of other content */
      z-index: 5;
      visibility: hidden;
      flex-direction: column;
      flex-grow: 0;
      justify-content: start;
      /* Important line for mobile devices: */
      overflow-y: auto;
      nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);

        width: 19.375rem;
        padding-block: 2rem 1.25rem;
        margin-block-end: 1.25rem;
        ul {
          flex-direction: column;
          gap: 1.25rem 0;
          li {
            a {
              font-size: 0.9375rem;
              line-height: 135%;
              text-align: center;
              letter-spacing: 2.5px;
            }
          }
        }
      }
    }
  }
  .menu__active .header__block {
    visibility: visible;
  }
  .menu__active #overlay {
    margin-block-start: 4.6875rem;
    display: block;
  }
  .menu__active .open__button {
    display: none;
  }
  .menu__active .close__button {
    display: block;
  }
  .main {
    .main__hero {
      .create__hero {
        flex-direction: column-reverse;
        .create__hero-content {
          padding: 4.5rem 1.5rem 4.4375rem 2.0625rem;
          &::before {
            width: 8rem;
            height: 0.375rem;
            top: 0;
            left: 10%;
          }
          h2 {
            width: 19.875rem;
            margin-block-end: 1rem;
          }
          p {
            margin-block-end: 1.5rem;
          }
        }
        .home__picture {
          .hero__img {
            width: 23.4375rem;
            height: 18.375rem;
          }
        }
      }
      .stories__hero {
        min-height: 43.125rem;
        flex-direction: column;
        .home__picture {
          .hero__img {
            width: 23.4375rem;
            height: 16.9375rem;
          }
        }
        .create__stories-content {
          padding: 4.4688rem 1.7813rem;
          h2 {
            width: 18.125rem;
            margin-block-end: 1rem;
          }
          p {
            margin-block-end: 1.5rem;
          }
        }
      }
      .designed__hero {
        min-height: 43.125rem;
        flex-direction: column-reverse;
        .home__picture {
          .hero__img {
            width: 23.4375rem;
            height: 16.9375rem;
          }
        }
        .create__designed-content {
          padding: 4.4688rem 1.7813rem;
          h2 {
            margin-block-end: 1rem;
          }
          p {
            margin-block-end: 1.5rem;
          }
        }
      }
    }
    .collections {
      grid-template-columns: repeat(1, 1fr);
      margin-block-end: 5rem;
    }
    .services {
      grid-template-columns: repeat(1, 310px);
      grid-template-rows: repeat(3, 1fr);
      gap: 3.5rem 0;
      margin-block-end: 5rem;
    }
    .stories__hero {
      position: static;
      height: 50.75rem;
      display: flex;
      flex-direction: column;
      .stories__hero-content {
        max-width: 28.125rem;
        background-color: var(--neutral-950);
        padding: 3rem 1.75rem;
        position: relative;
        inset: 0;
        &::before {
          position: absolute;
          content: "";
          width: 8rem;
          height: 0.375rem;
          top: 0;
          left: 10%;
          background: linear-gradient(
            52.98deg,
            #ffc593 0%,
            #bc7198 49.95%,
            #5a77ff 99.9%
          );
        }
        .hero__text {
          margin-block-end: 1rem;
        }
        h2 {
          margin-block-end: 3.5rem;
        }
      }
    }
    .stories__collections {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      a {
        width: 100%;
      }
    }
    .features__hero {
      flex-direction: column-reverse;
      margin-block-end: 4.75rem;
      .features__hero-content {
        padding: 4.5rem 1.8125rem;
        &::before {
          width: 8rem;
          height: 0.375rem;
          top: 0;
          left: 10%;
        }
        h2 {
          margin-block-end: 1rem;
        }
      }
      .home__picture {
        .hero__img {
          width: 23.4375rem;
          height: 18.375rem;
        }
      }
    }
    .features__services {
      grid-template-columns: repeat(1, 1fr);
      gap: 3.5rem 0;
      margin-block-end: 4.75rem;
    }
    .pricing__hero {
      flex-direction: column-reverse;
      margin-block-end: 3.375rem;
      .pricing__hero-content {
        padding: 4.5rem 1.8125rem;
        &::before {
          width: 8rem;
          height: 0.375rem;
          top: 0;
          left: 10%;
        }
        h2 {
          margin-block-end: 1rem;
        }
      }
      .home__picture {
        .hero__img {
          width: 100%;
          height: 18.375rem;
        }
      }
    }
    .pricing__block {
      margin-block-end: 4rem;
      .tariff__block {
        .tariff__plan {
          &.basic,
          &.business {
            max-width: 19.875rem;
            height: 25.4375rem;
            padding: 2.9375rem 2.2813rem;
          }
          &.pro {
            max-width: 19.875rem;
            height: 25.4375rem;
            padding: 2.9375rem 2.2813rem;
            &::before {
              width: 100%;
              height: 0.375rem;
            }
          }
          .tariff__plan-wrap {
            flex-direction: column;
            align-items: center;
            .tariff__plan-conditions {
              width: 15.3125rem;
              h3 {
                text-align: center;
              }
              p {
                text-align: center;
              }
            }
          }
        }
      }
    }
    .beta__invite {
      &::before {
        width: 8rem;
        height: 0.375rem;
        left: 0.625rem;
      }
      .invite__picture {
        .beta__img {
          width: 100%;
          height: 100%;
        }
      }
      .invite__content {
        flex-direction: column;
        gap: 1.5rem;
        padding: 4rem 2.0625rem;
      }
    }
    .pricing__compare {
      margin-block-end: 3.9688rem;
      h2 {
        display: none;
      }
      .table__container {
        .compare__table {
          thead,
          tr,
          th:first-child {
            display: block;
            width: 100%;
          }
          display: block;
          thead {
           /* Hide the desktop header */
            tr {
              padding-block: 0;
              th {
                &:not(:first-child) {
                  display: none;
                }
              }
            }
          }
          tbody,
          tr {
            display: block;
            width: 100%;
          }
          tr {
            padding-block: 1.5rem;
            border-bottom: 1px solid var(--neutral-300);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px 0;
          }
          tbody {
            td {
              display: block;
              padding: 0;
              border: none;
              text-align: center;
              &:first-child {
                width: 100%;
               /*Stretch to full width (all 3 columns) */
                grid-column: 1 / -1;
                text-align: left;
                font-size: 0.75rem;
                letter-spacing: 2px;
                color: var(--neutral-950);
                margin-bottom: 1.0313rem;
              }
              &:not(:first-child) {
                /* Reserve space so that empty cells don't collapse */
                min-height: 2.5rem;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: flex-start;
                /* Space between the word "BASIC" and the check mark */
                gap: 8px;
                /* Add text signatures "BASIC", "PRO", "BUSINESS" above each cell */
                &::before {
                  font-weight: 700;
                  font-size: 0.625rem;
                  line-height: 13px;
                  letter-spacing: 1.66667px;
                  color: var(--neutral-950);
                  mix-blend-mode: normal;
                  opacity: 0.5;
                }
              }
            }
            /* Styles for the checkmark icon itself on mobile devices */
            .table__cell-center {
              width: 100%;
              height: auto;
              justify-content: start;
            }
          }
          /* We associate each of the three cells with its tariff by serial number */
          tbody td:nth-child(2)::before {
            content: "BASIC";
          }
          tbody td:nth-child(3)::before {
            content: "PRO";
          }
          tbody td:nth-child(4)::before {
            content: "BUSINESS";
          }
        }
      }
    }
  }
  .footer {
    justify-content: center;
    flex-direction: column;
    row-gap: 7rem;
    padding: 3.5rem 2rem;
    .footer__left {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      nav {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        margin-block-end: 0;
        ul {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 1.25rem;
        }
      }
      .footer__social {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin-block-end: 3rem;
      }
    }
    .footer__right {
      row-gap: 2rem;
    }
  }
}
