:root {
  --neutral-950: hsl(0, 0%, 0%);
  --neutral-300: hsl(0, 0%, 87%);
  --neutral-200: hsl(0, 0%, 94%);
  --neutral-100: hsl(0, 0%, 96%);
  --neutral-0: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-Regular_1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: 0;
  margin-inline: auto;
  padding: 0;
  font-family: "DM Sans";
  background-color: var(--neutral-0);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: 0 none transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1130px;
  margin-inline: auto;
  padding-inline: 10px;
}
.btn {
  width: 157px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background: var(--neutral-950);
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--neutral-0);
  transition:
    background-color 450ms ease-in-out,
    color 450ms ease-in-out;
  &:hover {
    color: var(--neutral-950);
    background-color: var(--neutral-300);
  }
}
.header {
  display: flex;
  align-items: center;
  padding-block: 28px;
  .header__logo {
    flex-grow: 1;
  }
  .menu__button {
    display: none;
  }
  .header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    nav {
      ul {
        display: flex;
        align-items: center;
        column-gap: 40px;
        li {
          a {
            font-weight: 700;
            font-size: 12px;
            line-height: 135%;
            letter-spacing: 2px;
            color: var(--neutral-950);
            text-transform: uppercase;
            transition:
              opacity 450ms ease-in-out,
              text-shadow 450ms ease-in-out;
            &:hover {
              mix-blend-mode: normal;
              opacity: 0.3;
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
  }
  #overlay {
    /* background: linear-gradient(180deg, #000000 0%, #000000a6 100%); */
    background: var(--neutral-950);
    mix-blend-mode: normal;
    opacity: 0.5;
    position: fixed;
    inset: 0;
    /* z-index: 9; */
    display: none;
  }
}
.main {
  .main__hero {
    .create__hero {
      min-height: 650px;
      display: flex;
      align-items: center;
      .create__hero-content {
        max-width: 610px;
        background: var(--neutral-950);
        color: var(--neutral-0);
        padding: 173px 112px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 6px;
          height: 304px;
          background: linear-gradient(
            52.98deg,
            #ffc593 0%,
            #bc7198 49.95%,
            #5a77ff 99.9%
          );
          top: 25%;
          left: 0;
        }
        h2 {
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: 4.16667px;
          text-transform: uppercase;
          margin-block-end: 20px;
        }
        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 165%;
          mix-blend-mode: normal;
          opacity: 0.6;
          margin-block-end: 48px;
        }
        a {
          font-weight: 700;
          font-size: 12px;
          line-height: 135%;
          text-align: right;
          letter-spacing: 2px;
          color: var(--neutral-0);
          text-transform: uppercase;
          position: relative;
          transition: text-decoration 450ms ease-in-out;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow.svg");
            width: 43px;
            height: 14px;
            top: 1px;
            left: 126px;
          }
        }
      }
      .home__picture {
        .hero__img {
          width: 830px;
          height: 650px;
          object-fit: cover;
        }
      }
    }
    .stories__hero {
      height: 600px;
      display: flex;
      align-items: center;
      .home__picture {
        .hero__img {
          width: 830px;
          height: 600px;
          object-fit: cover;
        }
      }
      .create__stories-content {
        max-width: 610px;
        /* min-height: 600px; */
        color: var(--neutral-950);
        padding: 136px 111.5px;
        h2 {
          width: 347px;
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: 4.16667px;
          text-transform: uppercase;
          margin-block-end: 20px;
        }
        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 165%;
          mix-blend-mode: normal;
          opacity: 0.6;
          margin-block-end: 48px;
        }
        a {
          font-weight: 700;
          font-size: 12px;
          line-height: 135%;
          text-align: right;
          letter-spacing: 2px;
          color: #000000;
          text-transform: uppercase;
          position: relative;
          transition: text-decoration 450ms ease-in-out;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow_b.svg");
            width: 43px;
            height: 14px;
            top: 1px;
            left: 150px;
          }
        }
      }
    }
    .designed__hero {
      display: flex;
      align-items: center;
      height: 600px;
      .create__designed-content {
        max-width: 610px;
        /* height: 600px; */
        color: var(--neutral-950);
        padding: 160px 111.5px;
        h2 {
          font-weight: 700;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: 4.16667px;
          text-transform: uppercase;
          margin-block-end: 20px;
        }
        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 165%;
          mix-blend-mode: normal;
          opacity: 0.6;
          margin-block-end: 48px;
        }
        a {
          font-weight: 700;
          font-size: 12px;
          line-height: 135%;
          text-align: right;
          letter-spacing: 2px;
          color: #000000;
          text-transform: uppercase;
          position: relative;
          transition: text-decoration 450ms ease-in-out;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow_b.svg");
            width: 43px;
            height: 14px;
            top: 1px;
            left: 150px;
          }
        }
      }
      .home__picture {
        height: 600px;
        .hero__img {
          width: 830px;
          height: 600px;
          object-fit: cover;
        }
      }
    }
  }
  .collections {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-block-end: 120px;
    .collections__links {
      /* Делаем ссылку блоком, чтобы она имела высоту и ширину */
      display: block;
      /* Теперь absolute внутри ориентируется на эту ссылку */
      position: relative;
      color: var(--neutral-0);
      picture {
        /* Убираем лишние зазоры снизу картинки */
        display: block;
        position: relative;
        transition: transform 450ms ease-in-out;
        &:hover {
          transform: translateY(-24px);
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 6px;
            background: linear-gradient(
              52.98deg,
              #ffc593 0%,
              #bc7198 49.95%,
              #5a77ff 99.9%
            );
            bottom: 0;
            left: 0;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          /* White color with 75% transparency */
          background-color: rgba(0, 0, 0, 0.4);
          /* Initially hidden */
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }
      .collections__content {
        position: absolute;
        bottom: 40px;
        left: 40px;
        z-index: 2;
        h4 {
          font-weight: 700;
          font-size: 18px;
          line-height: 140%;
          margin-block-end: 4px;
        }
        p {
          width: 280px;
          font-weight: 400;
          font-size: 13px;
          line-height: 130%;
          padding-block-end: 16px;
          border-bottom: 1px solid rgb(255, 255, 255, 0.8);
        }
        span {
          display: block;
          font-weight: 700;
          font-size: 12px;
          line-height: 135%;
          letter-spacing: 2px;
          color: #ffffff;
          text-transform: uppercase;
          position: relative;
          padding-block-start: 20px;
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow.svg");
            width: 43px;
            height: 14px;
            top: 20px;
            left: 235px;
          }
        }
      }
    }
  }
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    column-gap: 30px;
    color: var(--neutral-950);
    margin-block-end: 120px;
    .services__block {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        margin-block-end: 48px;
      }
      h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        margin-block-end: 16px;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 165%;
        text-align: center;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }
  }
  .stories__hero {
    position: relative;
    /* Высота по макету */
    height: 650px;
    .stories__picture {
      .stories__img {
        width: 100%;
        height: auto;
        display: block;
        /* Helps avoid distortion of proportions */
        object-fit: cover;
      }
    }
    .stories__hero-content {
      position: absolute;
      /* по макету */
      top: 122px;
      bottom: 122px;
      left: 112px;
      z-index: 2;
      max-width: 405px;
      color: var(--neutral-0);
      .hero__text {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 135%;
        letter-spacing: 2px;
        margin-block-end: 24px;
      }
      h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        margin-block-end: 64px;
      }
      .hero__author {
        display: flex;
        align-items: center;
        column-gap: 4px;
        margin-block-end: 24px;
        .data {
          display: block;
          font-weight: 400;
          font-size: 13px;
          line-height: 130%;
          mix-blend-mode: normal;
          opacity: 0.75;
        }
        .author {
          display: block;
          font-weight: 400;
          font-size: 13px;
          line-height: 130%;
        }
      }
      .hero__desc {
        font-weight: 400;
        font-size: 15px;
        line-height: 165%;
        mix-blend-mode: normal;
        opacity: 0.6;
        margin-block-end: 24px;
      }
      a {
        font-weight: 700;
        font-size: 12px;
        line-height: 135%;
        text-align: right;
        letter-spacing: 2px;
        color: var(--neutral-0);
        text-transform: uppercase;
        position: relative;
        transition: text-decoration 450ms ease-in-out;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
        &::after {
          position: absolute;
          content: "";
          background-image: url("../assets/shared/desktop/arrow.svg");
          width: 43px;
          height: 14px;
          top: 1px;
          left: 132px;
        }
      }
    }
  }
  .stories__collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    .collections__links {
      /* Делаем ссылку блоком, чтобы она имела высоту и ширину */
      display: block;
      /* Теперь absolute внутри ориентируется на эту ссылку */
      position: relative;
      color: var(--neutral-0);
      picture {
        /* Убираем лишние зазоры снизу картинки */
        display: block;
        position: relative;
        transition: transform 450ms ease-in-out;
        &:hover {
          transform: translateY(-24px);
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 6px;
            background: linear-gradient(
              52.98deg,
              #ffc593 0%,
              #bc7198 49.95%,
              #5a77ff 99.9%
            );
            bottom: 0;
            left: 0;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: linear-gradient(180deg, #000000 0%, #000000ab 100%);
          /* Initially hidden */
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        .collections__img {
          width: 100%;
          height: auto;
          display: block;
          /* Helps avoid distortion of proportions */
          object-fit: cover;
        }
      }
      .collections__content {
        position: absolute;
        bottom: 40px;
        left: 40px;
        z-index: 2;
        color: var(--neutral-0);
        .name {
          font-weight: 400;
          font-size: 13px;
          line-height: 130%;
          margin-block-end: 4px;
        }
        h4 {
          font-weight: 700;
          font-size: 18px;
          line-height: 140%;
          margin-block-end: 4px;
        }
        .name {
          width: 280px;
          font-weight: 400;
          font-size: 13px;
          line-height: 130%;
          padding-block-end: 16px;
          border-bottom: 1px solid rgb(255, 255, 255, 0.8);
        }
        span {
          display: block;
          font-weight: 700;
          font-size: 12px;
          line-height: 135%;
          letter-spacing: 2px;
          color: #ffffff;
          text-transform: uppercase;
          position: relative;
          padding-block-start: 20px;
          &::after {
            position: absolute;
            content: "";
            background-image: url("../assets/shared/desktop/arrow.svg");
            width: 43px;
            height: 14px;
            top: 20px;
            left: 235px;
          }
        }
      }
    }
  }
  .features__hero {
    min-height: 490px;
    display: flex;
    align-items: center;
    margin-block-end: 160px;
    .features__hero-content {
      max-width: 610px;
      background: var(--neutral-950);
      padding: 173px 112px;
      color: var(--neutral-0);
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 144px;
        background: linear-gradient(
          52.98deg,
          #ffc593 0%,
          #bc7198 49.95%,
          #5a77ff 99.9%
        );
        top: 173px;
        left: 0;
      }
      h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        margin-block-end: 20px;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 165%;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }
    .home__picture {
      .hero__img {
        display: block;
        width: 830px;
        height: 490px;
        object-fit: cover;
      }
    }
  }
  .features__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    gap: 104px 30px;
    margin-block-end: 160px;
    .services__block {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        margin-block-end: 48px;
      }
      h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        margin-block-end: 16px;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 165%;
        text-align: center;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }
  }
  .pricing__hero {
    min-height: 490px;
    display: flex;
    align-items: center;
    margin-block-end: 120px;
    .pricing__hero-content {
      max-width: 610px;
      background: var(--neutral-950);
      padding: 173px 112px;
      color: var(--neutral-0);
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 144px;
        background: linear-gradient(
          52.98deg,
          #ffc593 0%,
          #bc7198 49.95%,
          #5a77ff 99.9%
        );
        top: 173px;
        left: 0;
      }
      h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        margin-block-end: 20px;
      }
      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 165%;
        mix-blend-mode: normal;
        opacity: 0.6;
      }
    }
    .home__picture {
      .hero__img {
        display: block;
        width: 830px;
        height: 490px;
        object-fit: cover;
      }
    }
  }
  .pricing__block {
    margin-block-end: 160px;

    /* --- СЕКЦИЯ ПЕРЕКЛЮЧАТЕЛЯ --- */
    .pricing__toggle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 32px;
      margin-block-end: 48px;

      .monthly {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: var(--neutral-950);
        mix-blend-mode: normal;
        opacity: 1;
        transition: opacity 0.3s ease;
      }

      .toggle__button {
        width: 64px;
        height: 32px;
        padding: 3px;
        background-color: var(--neutral-300);
        border-radius: 999px;
        border-color: var(--neutral-300);
        cursor: pointer;
        transition:
          background-color 0.3s ease,
          border-color 0.3s ease;

        .animated__toggle {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: var(--neutral-950);
          transform: translateX(0);
          transition:
            transform 0.3s ease,
            background-color 0.3s ease;
        }
      }

      .yearly {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: var(--neutral-950);
        mix-blend-mode: normal;
        opacity: 0.5;
        transition: opacity 0.3s ease;
      }
    }

    /* --- СЕКЦИЯ ТАРИФНЫХ ПЛАНОВ --- */
    .tariff__block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      column-gap: 30px;

      .tariff__plan {
        &.basic,
        &.business {
          max-width: 350px;
          min-height: 407px;
          background: var(--neutral-100);
          color: var(--neutral-950);
          padding: 47px 40px;
        }

        &.pro {
          color: var(--neutral-0);
          background: var(--neutral-950);
          padding: 78.5px 40px;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            width: 100%; /* Исправлено на 100%, чтобы не вылезало за рамки */
            height: 6px;
            background: linear-gradient(
              53deg,
              #ffc593 0%,
              #bc7198 50%,
              #5a77ff 100%
            );
            inset: 0 0 auto 0; /* Прижимает к верхнему краю */
          }

          /* Кнопка внутри PRO плана */
          .btn__price {
            background: var(--neutral-0);
            color: var(--neutral-950);

            &:hover {
              background: var(--neutral-300);
              color: var(--neutral-950);
            }
          }
        }

        .tariff__plan-wrap {
          .tariff__plan-conditions {
            h3 {
              font-size: 24px;
              line-height: 105%;
              text-align: center;
              margin-block-end: 20px;
            }
            p {
              font-size: 15px;
              line-height: 165%;
              text-align: center;
              mix-blend-mode: normal;
              opacity: 0.6;
              margin-block-end: 40px;
            }
          }

          .tariff__plan-price {
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            letter-spacing: 4.16667px;
            text-transform: uppercase;
            margin-block-end: 40px;

            span {
              display: block;
              text-transform: lowercase;
              font-weight: 400;
              font-size: 15px;
              line-height: 165%;
              text-align: center;
              mix-blend-mode: normal;
              opacity: 0.6;
            }

            &.month {
              display: block;
            }
            &.year {
              display: none;
            }
          }
        }

        /* Общие стили для кнопок */
        .btn__price {
          width: 270px;
          height: 40px;
          margin: 0 auto;
          background: var(--neutral-950);
          color: var(--neutral-0);
          border: none;
          cursor: pointer;
          transition:
            background 450ms ease-in-out,
            color 450ms ease-in-out;

          &:hover {
            background: var(--neutral-300);
            color: var(--neutral-950);
          }
        }
      }
    }

    /* --- СОСТОЯНИЕ АКТИВНОГО ПЕРЕКЛЮЧАТЕЛЯ (YEARLY) --- */
    &.toggle-price {
      .pricing__toggle {
        .toggle__button {
          background-color: var(--neutral-950);
          border-color: var(--neutral-950);

          .animated__toggle {
            background-color: var(--neutral-0);
            transform: translateX(32px);
          }
        }
        .monthly {
          opacity: 0.5;
        }
        .yearly {
          opacity: 1;
        }
      }

      .tariff__block .tariff__plan .tariff__plan-wrap {
        .tariff__plan-price.month {
          display: none;
        }
        .tariff__plan-price.year {
          display: block;
        }
      }
    }
  }
  .pricing__compare {
    color: #000000;
    text-transform: uppercase;
    margin-block-end: 106px;
    h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      letter-spacing: 4.16667px;
      margin-block-end: 56px;
    }
    h5,
    p {
      font-weight: 700;
      font-size: 12px;
      line-height: 135%;
      letter-spacing: 2px;
    }
    .resp-tab {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}
.resp-tab th, .resp-tab td {
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    font-family: Verdana, sans-serif;   
    border: 1px solid #337AB7;
    vertical-align: top;
}
.resp-tab th {
    color: #FFF;
    background: #337AB7;
    font-weight: bold;
    border: 1px solid #1a4a73;   
    text-transform: uppercase;   
    text-align: center;   
}
.resp-tab tr:nth-child(even) {
    background: #edf7ff;
}
.resp-tab td span {
    background: #337AB7;
    color: #FFF;
    display: none;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana, sans-serif;   
    text-transform: uppercase;       
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;   
}
  }
  /* .compare__table {
    max-width: 731px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  } */
  /* .table__head {
    display: flex;
    padding-block-end: 23px;
    border-bottom: 1px solid var(--neutral-950);
    h5 {
      width: 231px;
    }
  } */
  /* .table__head-text {
    display: flex;
    p {
      width: 140px;
      text-align: center;
    }
  } */
  /* .compare__row {
    display: flex;
    column-gap: 63px;
    padding-block: 23px;
    border-bottom: 1px solid var(--neutral-300);
    h5 {
      width: 231px;
    }
  } */
  /* .compare__text {
    display: none;
  } */
  /* .compare__icon {
    display: flex;
    column-gap: 124px;
    img {
      width: 18px;
      height: 15px;
    }
  } */

  .beta__invite {
    display: grid;
    grid-template-areas: "beta";
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 280px;
      background: linear-gradient(
        52.98deg,
        #ffc593 0%,
        #bc7198 49.95%,
        #5a77ff 99.9%
      );
      top: 0;
      left: 0;
    }
    .invite__picture {
      grid-area: beta;
    }
    .invite__content {
      grid-area: beta;
      padding: 68px 165px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        max-width: 400px;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
        color: #ffffff;
      }
      a {
        display: block;
        font-weight: 700;
        font-size: 12px;
        line-height: 135%;
        text-align: right;
        letter-spacing: 2px;
        color: var(--neutral-0);
        /* РЕШЕНИЕ: Создаем пустое место справа под стрелку */
        /* 43px (ширина стрелки) + 17px (отступ от текста) */
        padding-right: 60px;
        text-transform: uppercase;
        position: relative;
        transition: text-decoration 450ms ease-in-out;
        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
        }
        &::after {
          position: absolute;
          content: "";
          background-image: url("../assets/shared/desktop/arrow.svg");
          width: 43px;
          height: 14px;
          /* top: 1px; */
          /* left: 126px; */
          /* РЕШЕНИЕ: Прижимаем строго к правому краю ссылки */
          right: 0;
          top: 50%;
          /* Идеальное центрирование стрелки по вертикали */
          transform: translateY(-50%);
        }
      }
    }
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 61.5px 165px;
  background: var(--neutral-950);
  .footer__left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 110px;
    .footer__logo {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      svg path.logo-text {
        fill: var(--neutral-0);
      }
    }
    nav {
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        li {
          a {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            line-height: 135%;
            letter-spacing: 2px;
            color: var(--neutral-0);
            transition: opacity 400ms ease-in-out;
            &:hover {
              mix-blend-mode: normal;
              opacity: 0.3;
            }
          }
        }
      }
    }
    .footer__social {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      align-self: self-end;
      ul {
        display: flex;
        align-items: center;
        column-gap: 12px;
        li {
          a {
            .social-icon path {
              fill: var(--neutral-0);
              transition: fill 250ms ease-in-out;
            }
            .icon-facebook:hover path {
              fill: url(#fbook-grad);
            }
            .icon-youtube:hover path {
              fill: url(#ytube-grad);
            }
            .icon-twitter:hover path {
              fill: url(#twit-grad);
            }
            .icon-print:hover path {
              fill: url(#print-grad);
            }
            .icon-insta:hover path {
              fill: url(#insta-grad);
            }
          }
        }
      }
    }
  }
  .footer__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 86px;
    a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      line-height: 135%;
      letter-spacing: 2px;
      color: #ffffff;
      position: relative;
      transition: text-decoration 450ms ease-in-out;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
      }
      &::after {
        position: absolute;
        content: "";
        background-image: url("../assets/shared/desktop/arrow.svg");
        width: 42px;
        height: 12px;
        top: 1px;
        left: 126px;
      }
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 165%;
      color: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}

@media (width <= 768px) {
  .container {
    max-width: 710px;
  }
  .main {
    .main__hero {
      .create__hero {
        .create__hero-content {
          /* max-width: 495px; */
          padding-inline: 54px;
          h2 {
            font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
          }
        }
        .home__picture {
          .hero__img {
            width: 273px;
          }
        }
      }
      .stories__hero {
        .home__picture {
          .hero__img {
            width: 273px;
          }
        }
        .create__stories-content {
          padding-inline: 54px;
          h2 {
            font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
          }
        }
      }
      .designed__hero {
        .create__designed-content {
          padding-inline: 54px;
          h2 {
            font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
          }
        }
        .home__picture {
          .hero__img {
            width: 273px;
          }
        }
      }
    }
    .collections {
      grid-template-columns: repeat(2, 1fr);
    }
    .services {
      grid-template-columns: repeat(1, 450px);
      grid-template-rows: repeat(3, 1fr);
      gap: 80px 0;
    }
    .stories__hero {
      .stories__hero-content {
        left: 40px;
        h2 {
          font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
        }
      }
    }
    .stories__collections {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
    .features__hero {
      margin-block-end: 106.5px;
      .features__hero-content {
        padding-inline: 54px;
        h2 {
          font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
        }
        &::before {
          top: 154px;
        }
      }
      .home__picture {
        .hero__img {
          width: 273px;
        }
      }
    }
    .features__services {
      grid-template-columns: repeat(2, 1fr);
      gap: 80px 12px;
      margin-block-end: 108.5px;
    }
    .pricing__hero {
      margin-block-end: 112px;
      .pricing__hero-content {
        max-width: 495px;
        padding-inline: 54px;
        h2 {
          font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
        }
        &::before {
          top: 178px;
        }
      }
      .home__picture {
        .hero__img {
          width: 273px;
        }
      }
    }
    .pricing__block {
      margin-block-end: 112px;
      .pricing__toggle {
        margin-block-end: 40px;
      }
      .tariff__block {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px 0;
        .tariff__plan {
          &.basic,
          &.business {
            max-width: 689px;
            min-height: 270px;
            padding: 44px 40px;
          }
          &.pro {
            max-width: 689px;
            min-height: 270px;
            padding: 44px 40px;
            &::before {
              width: 6px;
              height: 100%;
            }
          }
          .tariff__plan-wrap {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .tariff__plan-conditions {
              width: 270px;
              h3 {
                text-align: left;
              }
              p {
                text-align: left;
              }
            }
          }
          .btn__price {
            margin: 0;
          }
        }
      }
    }
    .beta__invite {
      .invite__picture {
        .beta__img {
          height: 280px;
        }
      }
      .invite__content {
        padding-inline: 38px 41.4px;
        h2 {
          font-size: clamp(2rem, calc(1.773rem + 0.808vw), 2.5rem);
        }
      }
    }
  }
  .footer {
    padding: 64px 39.5px;
    .footer__left {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      .footer__block {
      }
      .footer__logo {
        margin-block-end: 32px;
      }
      nav {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin-block-end: 72px;
        ul {
          flex-direction: row;
          gap: 0 25px;
        }
      }
    }
  }
}

@media (width <= 450px) {
  .container {
    max-width: 350px;
  }
  .header {
    /* position: relative; */
    .open__button {
      display: block;
    }
    .header__block {
      /* Теперь это ровно 100% ширины экрана */
      width: 100%;
      height: 253px;
      background: var(--neutral-0);
      /* Фиксируется относительно экрана, игнорируя relative у header */
      position: fixed;
      /* Высота вашего header, чтобы меню открывалось ровно под ним */
      top: 60px;
      left: 0;
      /* Чтобы меню было поверх остального контента */
      /* z-index: 999; */
      z-index: 5;
      visibility: hidden;
      flex-direction: column;
      flex-grow: 0;
      justify-content: start;
      /* Важная строка для мобильных устройств: */
      overflow-y: auto;
      nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);

        width: 310px;
        padding-block: 32px 20px;
        margin-block-end: 20px;
        ul {
          flex-direction: column;
          gap: 20px 0;
          li {
            a {
              font-size: 15px;
              line-height: 135%;
              text-align: center;
              letter-spacing: 2.5px;
            }
          }
        }
      }
    }
  }
  .menu__active .header__block {
    visibility: visible;
  }
  .menu__active #overlay {
    margin-block-start: 75px;
    display: block;
  }
  .menu__active .open__button {
    display: none;
  }
  .menu__active .close__button {
    display: block;
  }
  .main {
    .main__hero {
      .create__hero {
        flex-direction: column-reverse;
        .create__hero-content {
          padding: 72px 24px 71px 33px;
          &::before {
            width: 128px;
            height: 6px;
            top: 0;
            left: 10%;
          }
          h2 {
            width: 318px;
            margin-block-end: 16px;
          }
          p {
            margin-block-end: 24px;
          }
        }
        .home__picture {
          .hero__img {
            width: 375px;
            height: 294px;
          }
        }
      }
      .stories__hero {
        min-height: 690px;
        flex-direction: column;
        .home__picture {
          .hero__img {
            width: 375px;
            height: 271px;
          }
        }
        .create__stories-content {
          padding: 71.5px 28.5px;
          h2 {
            width: 290px;
            margin-block-end: 16px;
          }
          p {
            margin-block-end: 24px;
          }
        }
      }
      .designed__hero {
        min-height: 690px;
        flex-direction: column-reverse;
        .home__picture {
          .hero__img {
            width: 375px;
            height: 271px;
          }
        }
        .create__designed-content {
          padding: 71.5px 28.5px;
          h2 {
            margin-block-end: 16px;
          }
          p {
            margin-block-end: 24px;
          }
        }
      }
    }
    .collections {
      grid-template-columns: repeat(1, 1fr);
      margin-block-end: 80px;
    }
    .services {
      grid-template-columns: repeat(1, 310px);
      grid-template-rows: repeat(3, 1fr);
      gap: 56px 0;
      margin-block-end: 80px;
    }
    .stories__hero {
      position: static;
      height: 812px;
      display: flex;
      flex-direction: column;
      /* margin-block-end: 40px/; */
      .stories__hero-content {
        max-width: 450px;
        background-color: var(--neutral-950);
        padding: 48px 28px;
        position: relative;
        inset: 0;
        &::before {
          position: absolute;
          content: "";
          width: 128px;
          height: 6px;
          top: 0;
          left: 10%;
          background: linear-gradient(
            52.98deg,
            #ffc593 0%,
            #bc7198 49.95%,
            #5a77ff 99.9%
          );
        }
        .hero__text {
          margin-block-end: 16px;
        }
        h2 {
          margin-block-end: 56px;
        }
      }
    }
    .stories__collections {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      a {
        width: 100%;
      }
    }
    .features__hero {
      flex-direction: column-reverse;
      margin-block-end: 76px;
      .features__hero-content {
        padding: 72px 29px;
        &::before {
          width: 128px;
          height: 6px;
          top: 0;
          left: 10%;
        }
        h2 {
          margin-block-end: 16px;
        }
      }
      .home__picture {
        .hero__img {
          width: 375px;
          height: 294px;
        }
      }
    }
    .features__services {
      grid-template-columns: repeat(1, 1fr);
      gap: 56px 0;
      margin-block-end: 76px;
    }
    .pricing__hero {
      flex-direction: column-reverse;
      margin-block-end: 54px;
      .pricing__hero-content {
        padding: 72px 29px;
        &::before {
          width: 128px;
          height: 6px;
          top: 0;
          left: 10%;
        }
        h2 {
          margin-block-end: 16px;
        }
      }
      .home__picture {
        .hero__img {
          /* width: 375px; */
          width: 100%;
          height: 294px;
        }
      }
    }
    .pricing__block {
      margin-block-end: 64px;
      .tariff__block {
        .tariff__plan {
          &.basic,
          &.business {
            max-width: 318px;
            height: 407px;
            padding: 47px 36.5px;
          }
          &.pro {
            max-width: 318px;
            height: 407px;
            padding: 47px 36.5px;
          }
          .tariff__plan-wrap {
            flex-direction: column;
            align-items: center;
            .tariff__plan-conditions {
              width: 245px;
              h3 {
                text-align: center;
              }
              p {
                text-align: center;
              }
            }
          }
        }
      }
    }
    .beta__invite {
      &::before {
        width: 128px;
        height: 6px;
        left: 10px;
      }
      .invite__picture {
        .beta__img {
          width: 100%;
          /* height: 288px; */
          height: 100%;
        }
      }
      .invite__content {
        flex-direction: column;
        gap: 24px;
        padding: 64px 33px;
      }
    }
  }
  .footer {
    justify-content: center;
    flex-direction: column;
    row-gap: 112px;
    padding: 56px 32px;
    .footer__left {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      nav {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        margin-block-end: 0;
        ul {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 20px;
        }
      }
      .footer__social {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin-block-end: 48px;
      }
    }
    .footer__right {
      row-gap: 32px;
    }
  }
}
